<h2>My Bibliography</h2>


<div>
<ul class="books">
  <li *ngFor="let book of bibitems" >
    <a routerLink="/bibitem/{{book.id}}">
      <span class="badge">{{book.id}}</span> {{book.name}}
    </a>
    <button class="delete" title="delete bibItem"
      (click)="delete(book)">x</button>
  </li>
</ul>
<div>


<div>
  <label>Book name:
    <input #bibItem />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(bibItem.value); bibItem.value=''">
    add
  </button>
</div>
